.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.text-center {
  text-align: center;
}

/* font-size: 1.5rem (24px / 16) */
.text-1 {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0;
}

/* font-size: 1.25rem (20px / 16) */
.text-2 {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: 0;
}

/* font-size: 1rem (16px / 16) */
.text-3 {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0;
}

/* font-size: 0.875rem (14px / 16) */
.text-4 {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0;
}

/* font-size: 0.75rem (12px / 16) */
.text-5 {
  font-family: "Manrope", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: 0;
}
