@mixin focus-ring($color: rgba(37, 99, 235, 0.35)) {
  outline: 2px solid $color;
  outline-offset: 2px;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Breakpoints
$bp-mobile: 420px;
$bp-tablet: 768px;
$bp-laptop: 900px;
$bp-desktop: 1200px;

@mixin mobile {
  @media (min-width: $bp-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $bp-tablet) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $bp-laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

@mixin breakpoint-up($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: $size) {
    @content;
  }
}
