:root[data-theme="dark"] {
  color-scheme: dark;
  --color-bg: #001414;
  --color-text: #b1b9b9;
  --color-surface: #004241;
  --color-headings: #ffffff;
  --color-border: #007476;
  --color-accent: #014745;
  --color-on-accent: #ffffff;
  --color-tag-items: #002e2d;
  --color-divider: #004241;
}
