:root[data-theme="light"] {
  color-scheme: light;
  --color-bg: #e8f0ef;
  --color-text: #4c5c59;
  --color-surface: #ffffff;
  --color-headings: #051513;
  --color-border: #c0cfcc;
  --color-accent: #014745;
  --color-on-accent: #ffffff;
  --color-tag-items: #e8f0ef;
  --color-divider: #dde9e7;
}
